# API app
api/.env

# ----------------------------------------------------------------

# Recipe app

# ignore nvmrc files
web/recipe/.nvmrc

web/recipe/yarn-error.log

# ignore node_modules
web/recipe/node_modules

# ignore dist folder
web/recipe/dist

# ignore jest coverage
web/recipe/coverage

# ----------------------------------------------------------------
