@import 'stylesheets/vars.scss';

@mixin button {
  background: $dark-brown;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 4px $dark-brown-shadow;
  color: $light-brown;
  cursor: pointer;
  font-size: $base-pixel;
  font-weight: bold;
  padding: $base-pixel;
  width: 100%;
  &:active {
    box-shadow: none;
    transform: translate(2px, 4px);
  }
}
